In [2]:
import numpy as np
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt

In [3]:
file_path=("D:/Excel_Project/covid/covid_data_excel.xlsx")
df=pd.DataFrame()
df=pd.read_excel(file_path)
df

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5
...,...,...,...,...,...,...,...,...
23077,International,2020-02-28,0,0,NaN,NaN,NaN,NaN
23078,International,2020-02-29,0,2,NaN,NaN,NaN,NaN
23079,International,2020-03-01,0,0,NaN,NaN,NaN,NaN
23080,International,2020-03-02,0,0,NaN,NaN,NaN,NaN
23081,International,2020-03-10,-9,1,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23082 entries, 0 to 23081
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   location                    23082 non-null  object
 1   date                        23082 non-null  datetime64[ns]
 2   new_cases                   23082 non-null  int64
 3   new_deaths                  23082 non-null  int64
 4   population                  23018 non-null  float64
 5   aged_65_older_percent       20643 non-null  float64
 6   gdp_per_capita              20711 non-null  float64
 7   hospital_beds_per_thousand  19144 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(1)
memory usage: 1.4+ MB

In [8]:
df.isna().sum()

location                         0
date                             0
new_cases                        0
new_deaths                       0
population                      64
aged_65_older_percent         2439
gdp_per_capita                2371
hospital_beds_per_thousand    3938
dtype: int64

In [3]:
df.duplicated().sum()

0

In [6]:
df['location'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao', 'Cyprus',
       'Czech Republic', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Faeroe Islands', 'Falkland Islands', 'Fiji',
       'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia', 'Somalia',
       'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria',
       'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turks and Caicos Islands', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vatican',
       'Venezuela', 'Vietnam', 'Western Sahara', 'Yemen', 'Zambia',
       'Zimbabwe', 'World', 'International'], dtype=object)

In [9]:
df[['new_cases','new_deaths','population','hospital_beds_per_thousand','aged_65_older_percent']].describe().round()

,new_cases,new_deaths,population,hospital_beds_per_thousand,aged_65_older_percent
count,23082.0,23082.0,2.301800e+04,19144.0,20643.0
mean,625.0,36.0,1.037003e+08,3.0,10.0
std,5517.0,331.0,6.716897e+08,3.0,6.0
min,-2461.0,-1918.0,8.090000e+02,0.0,1.0
25%,0.0,0.0,2.083380e+06,1.0,4.0
50%,3.0,0.0,9.449321e+06,3.0,8.0
75%,55.0,1.0,3.346920e+07,4.0,15.0
max,133510.0,10520.0,7.794799e+09,14.0,27.0

In [40]:
df['hospital_beds_per_thousand']=df['hospital_beds_per_thousand'].fillna(0)

In [38]:
df['aged_65_older_percent']=df['aged_65_older_percent'].fillna(1.0)

In [39]:
df['aged_65_older_percent'].isna().sum()

0

In [12]:
df['population'].isna().sum()

64

In [5]:
df = df.drop(df[df['population'].isna()==True].index)

In [36]:
df['population'].isna().sum()

0

In [7]:
df2=df[df['gdp_per_capita'].isna()==True]
df2

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
405,Andorra,2020-03-03,1,0,77265.0,NaN,NaN,NaN
406,Andorra,2020-03-14,1,0,77265.0,NaN,NaN,NaN
407,Andorra,2020-03-16,3,0,77265.0,NaN,NaN,NaN
408,Andorra,2020-03-17,9,0,77265.0,NaN,NaN,NaN
409,Andorra,2020-03-18,0,0,77265.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
22622,Western Sahara,2020-06-06,0,0,597330.0,NaN,NaN,NaN
22623,Western Sahara,2020-06-07,0,0,597330.0,NaN,NaN,NaN
22624,Western Sahara,2020-06-08,0,0,597330.0,NaN,NaN,NaN
22625,Western Sahara,2020-06-09,0,0,597330.0,NaN,NaN,NaN
22626,Western Sahara,2020-06-10,0,0,597330.0,NaN,NaN,NaN

## we filled the countries of  null cells of gpd by excel

In [8]:
df2['location'].unique()

array(['Andorra', 'Anguilla', 'Bonaire Sint Eustatius and Saba',
       'British Virgin Islands', 'Cuba', 'Curacao', 'Faeroe Islands',
       'Falkland Islands', 'French Polynesia', 'Gibraltar', 'Greenland',
       'Guam', 'Guernsey', 'Isle of Man', 'Jersey', 'Liechtenstein',
       'Monaco', 'Montserrat', 'New Caledonia',
       'Northern Mariana Islands', 'Somalia', 'Syria', 'Taiwan',
       'Turks and Caicos Islands', 'United States Virgin Islands',
       'Vatican', 'Western Sahara'], dtype=object)

In [30]:
##df=df[df['location']=="Andorra" & df['gdp_per_capita'].isna()==True , df['gdp_per_capita'].fillna(2890.0)]

In [41]:
covid_report2_csv_data = df.to_csv('covid_report2.csv', index = True)